@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 25px">Blog City</h1>
</div>

<br />

<div class="text-center">
    <h4>Hi, There! Welcome to BlogCity, a blogging site where you can post anything you want! </h4><br><br>
    <h5 style="font-style: italic"><strong>What interests you?</strong></h5><br> <br>
    <h5 style="font-style: italic"><strong>What's on your mind?</strong></h5> <br><br>
    <h5 style="font-style: italic"><strong>Tell the world!</strong></h5> <br><br>
    <h4>View Posts under "Blogs" and write your own! </h4>
</div>
